# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
num = 10
print(num)
print(type(num))

10
<class 'int'>

##### Assinging float

In [7]:
num2 = 3.14

print(num2)
print(type(num2))

3.14
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 10.2

result = num1 + num2
print(result)
print(type(result))

result = result + 5
print(result)

12.2
<class 'float'>
17.2

##### Subtraction

In [13]:
diff = num2 - num1
print(diff)
print(type(diff))

#shorthand
diff -= 3
print(diff)

8.2
<class 'float'>
5.199999999999999

##### Multiplication

In [15]:
prod = num1 * num2
print(prod)
print(type(prod))

#shorthand
prod *= 2
print(prod)

20.4
<class 'float'>
40.8

##### Division

In [21]:
quo = 10 / 2
quo = num2 / num1
print(quo)
print(type(quo))

div /= 2
print(quo)

5.1
<class 'float'>
5.1

##### Floor Division

In [24]:
floor = 13 // 2
print(floor)
print(type(floor))

floor //= 4
print(floor)

6
<class 'int'>
1

##### Modulo

In [26]:
mod = 11 % 5 
print(mod)
print(type(mod))

mod %= 1
print(mod)

1
<class 'int'>
0

##### Exponential

In [31]:
square = 5 ** 2
print(square)
print(type(square))

square **= 2
print(square)

25
<class 'int'>
625

### String Input-Output

##### String Assignment

In [33]:
first_name = 'Dimitrius' #snake_case  ## THIS IS PERFERED IN PYTHON
first_name = 'Dimitrius' # camelCase

print(first_name)
print(type(first_name))

#PROPERTIES OF STRINGS
#strings are immutable
#strings are iterable

Dimitrius
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [52]:
print(num1 ,num2 ,first_name, sep = "#########", end = "\n\t")
print("new line")

2#########10.2#########Dimitrius
	new line

##### String Concatenation

In [61]:
first_name = 'Dimitrius'
last_name = 'Marino'
full_name = first_name + ' ' + last_name
print(full_name)

full_name += ' Jr.'
print(full_name)

#this links things together

Dimitrius Marino
Dimitrius Marino Jr.

##### Type Conversion

In [67]:
number = '33'
print(number)
print(type(number))
result = 10 + int(number)
print(result)
print(type(result))

33
<class 'str'>
43
<class 'int'>

##### input()

In [ ]:
# Input will always return a string -- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

##### format()

In [88]:
sentence = f'I am {age} years old, my name is {full_name}'
print(sentence)
print(type(sentence))

I am 10 years old, my name is Dimitrius Marino Jr.
<class 'str'>

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

### If Statements

In [9]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

#SYNTAX
# if (condition)

num = int(input("Guess a number between 1 and 10" ))

answer = 7

if num > 10:
    print('Invalid response! Number too big')
elif num < 1:
    print('Invalid response! Number too small')
else:
    print('You got it BUB')
    if num == answer:
        print('Correct')
    else:
        print('Tough. Try again')

Guess a number between 1 and 107
You got it BUB
Correct

##### 'is' keyword

In [19]:
# is keyword is used when checking for referencial equality
person1 = [5,5,5,0]
person2 = [5,5,5,5]

person1.append(0)
person2.append(2)
print(person1)
print(person2)

person1 is person2

[5, 5, 5, 0, 0]
[5, 5, 5, 5, 2]

False

##### 'in' keyword

In [31]:
#check if char in name

name = 'Harry Potter'
if 'l' in name:
    print('Found it!')
else:
    print('You got it wrong dummy')

You got it wrong dummy

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
input('What is your favorite animal')
animal = 'python'
if "p" in animal.lower() : 
    print('you got it')
else:
    print('maybe next time ')

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [8]:
name = 'Dimitrius'
for letter in name:
    print(letter)
    
for index in range(len(name)):
    print(index, name[index])

D
i
m
i
t
r
i
u
s
0 D
1 i
2 m
3 i
4 t
5 r
6 i
7 u
8 s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [17]:
for num in range(10):
    if num == 6:
        continue
    print(num)
    
print('Done')

0
1
2
3
4
5
7
8
9
Done

##### Break Statement

In [ ]:
# will break out of current loop

In [18]:
for num in range(10):
    if num == 6:
        break
    print(num)
    
print('Done')

0
1
2
3
4
5
Done

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [21]:
for num in range(10):
    if num == 6:
       pass 
    print(num)
    
print('Done')

0
1
2
3
4
5
6
7
8
9
Done

##### Double For Loops

In [24]:
for i in range(3):
    for j in range(5):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

### While Loops

In [30]:
num = 0
while num < 10:
    print(num)
    num += 1
print('Done')

0
1
2
3
4
5
6
7
8
9
Done

##### Looping 'While True'

In [4]:

while True:
    answer = 57
    guess = int(input('guess a number between 0 and 100'))
    if guess == answer:
        print(f'You guessed it! The answer is {answer}')
        break
    else:
        print('Guess again')

SyntaxError: invalid syntax (3678690778.py, line 9)

##### While & For Loops Used Together

In [38]:
num = 0
while num < 5:
    print('\nWhile loop iteration:', num)
    for i in range(2):
        print('for loop iteration:'), i
        
    num += 1

While loop iteration: 0
for loop iteration:
for loop iteration:

While loop iteration: 1
for loop iteration:
for loop iteration:

While loop iteration: 2
for loop iteration:
for loop iteration:

While loop iteration: 3
for loop iteration:
for loop iteration:

While loop iteration: 4
for loop iteration:
for loop iteration:

### Built-In Functions

##### range()

In [41]:
#Start stop and step
for i in range (2, 10, 3):
    print(i)

2
5
8

##### len()

In [43]:
#checks the length of a variable
len('Dimitrius')
len([1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1])

18

##### help()

In [54]:
name = 'Dimitrius'
help(name, Human)

NameError: name 'Human' is not defined

##### isinstance()

In [59]:
person1 = 'Dimitrius'
if isinstance(person1, str):
    print('padowans')
    
person1 = 'Dimitrius'
isinstance(person1, str)

padowans

True

##### abs()

### Try and Except

In [1]:
try:
    int(input('guess a number'))
    print(response + 20)
except:
    print('INVALID ANSWER. PLEASE ONLY TYPE DIGITS')

guess a number5
INVALID ANSWER. PLEASE ONLY TYPE DIGITS

### Lists

##### Declaring Lists

In [8]:
nums = [1,2,3,4,5]
my_list = [1,2,'strings', [2,2,2], {}]

print(nums)
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 'strings', [2, 2, 2], {}]

##### Indexing a List

In [9]:
print(nums[2])
nums[2] = 9000
print(nums)

3
[1, 2, 9000, 4, 5]

##### .append()

In [10]:
nums.append(9001)
print(nums)

[1, 2, 9000, 4, 5, 9001]

##### .insert()

In [11]:
nums.insert(2, 'Dimitrius')
print(nums)

[1, 2, 'Dimitrius', 9000, 4, 5, 9001]

##### .pop()

In [13]:
removed_name = nums.pop(2)
print(removed_name)
print(nums)

Dimitrius
[1, 2, 9000, 4, 5, 9001]


##### .remove()

In [14]:
nums.remove(5)
print(nums)

[1, 2, 9000, 4, 9001]

##### del()

In [15]:
#delete keyword is del
del nums[2]
print(nums)

[1, 2, 4, 9001]

##### Concatenating Two Lists

In [18]:
nums1 = [1,2,3]
nums2 = [4,5,6]

result = nums1 + nums2

print(result)
print(nums1)
print(nums2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

##### Lists Within Lists

In [1]:
nums = [1,2,3,[11,12,13]]
nums[1] [3]

TypeError: 'int' object is not subscriptable

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
n = 1
while True:
    cube = n ** 3
    if cube > 1000:
        break
    print(cube)
    n += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

limit = 100
prime_numbers = [num for num in range(2, limit + 1) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:


age = int(input('What is your age?'))

if age < 18:
    print('kids')
elif age > 65:
    print('seniors')
else:
    print('adults')

What is your age?1
kids